/* RESET : permet d'effacer le style par défaut imposé par le navigateur */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* scroll fluide */
html {
    scroll-behavior: smooth;
}

/*-------------------------------------------------------------------------------------------*/
/* mes polices pour info */

h1,
h2,
h3,
h4 {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    text-decoration-style: none;
}

.sommaire {
    position: sticky;
    top: 100px;
}


p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #260356;
    overflow-x: hidden;

}

.violet
/*-------------------------------------------------------------------------------------------*/

/* ce que j'apelle les inchangés*/

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}


/*-------------------------------------------------------------------------------------------*/
/* dans un container on un a max-width et un width 100% 
deux dimensions diponibles 1000 et 800 */

.container-1000 {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;


}

/* CONTAINER */
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* CONTAINER doc */
.container2 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: 0px;
    width: 100%;
}

.container-1000-with-gap {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;


}

.container-800 {
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


/*-------------------------------------------------------------------------------------------*/

/* TEST DE VISUALISATION POUR LES NULS!!!*/

.bgred {
    background-color: red;
}

.bgblue {
    background-color: blue;
}

.bggreen {
    background-color: green;
}

.bgyellow {
    background-color: yellow;
}

/*-------------------------------------------------------------------------------------------*/

/* les classe fonctionnelle flex */

.flex {
    display: flex;
    /*rendre flexible un parent = aligner ses enfants */
    flex-wrap: wrap;
    /* revient à la ligne */
}

/*-------------------------------------------------------------------------------------------*/

/* les classes fonctionnelles flex à mettre aux parents pour contrôler les enfants  */

/* mettre un espace entre les enfant*/
.space-between {
    justify-content: space-between;
}

/* en plus un espace sur les côtés*/
.space-around {
    justify-content: space-around;
}

/* alignement horizontal */
.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}



.justify-flexstart {
    justify-content: flex-start;
}

/* alignement vertical */

.align-center {
    align-items: center;
}

.align-end {
    align-content: flex-end;
}

.item-end {

    align-items: flex-end;
}

.align-around {
    align-self: space-around;
}

.text-center {
    text-align: center;
}

.vertical-center {
    vertical-align: center;
}



.item-center {
    justify-items: center;
}

/* OMG!!!!!! */
.vertical {
    flex-direction: column
}

/*-------------------------------------------------------------------------------------------*/
/* les classes de largeur */


.w-05 {
    width: 5%;
}


.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}


.w-20 {
    width: 20%;
}

.w-23 {
    width: 23%;
}

.w-25 {
    width: 25%;
}

.w-28 {
    width: 28%;
}

.w-29 {
    width: 29%;
}



.w-30 {
    width: 30%;
}


.w-33 {
    width: 33%;
}

.w-35 {
    width: 35%;
}

.w-38 {
    width: 38%;
}

.w-40 {
    width: 40%;
}

.w-42 {
    width: 42%;
}

.w-43 {
    width: 43%;
}


.w-45 {
    width: 45%;
}

.w-48 {
    width: 48%;
}

.w-50 {
    width: 50%;
}

.w-52 {
    width: 52%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.w-65 {
    width: 65%;
}

.w-68 {
    width: 68%;
}

.w-70 {
    width: 80%;
}

.w-73 {
    width: 73%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-98 {
    width: 98%;
}

.w-100 {
    width: 100%;
}

.w-110 {
    width: 110%;
}

.w-150 {
    width: 150%;
}

/*-------------------------------------------------------------------------------------------*/
/* mes tailles de tipos au cas où*/
.size-10 {
    font-size: 10px;
}

.size-15 {
    font-size: 15px;
}

.size-20 {
    font-size: 20px;
}

/* mes tailles de padding*/
.padding-5 {

    padding: 5px;
}

.padding-10 {

    padding: 10px;
}

.padding-20 {

    padding: 20px;
}

.padding-25 {

    padding: 25px;
}

.padding-30 {

    padding: 30px;
}

.padding-40 {

    padding: 40px;
}

.padding-50 {

    padding: 50px;
}

.padding-top {

    padding-top: 300px;
}



/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/* seul les margin top et bottom sont tolérés*/
/* Beaucoup de margin bottom et top beaucoup trop, dsl je ne suis pas encore au point*/
.margin-top-5 {
    margin-top: 5px;
}

.margin-top-6 {
    margin-top: 6px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-150 {
    margin-top: 150px;
}

.margin-top-180 {
    margin-top: 180px;
}


.margin-top-minus-250 {
    margin-top: -250px;
}

.margin-bottom-minus-100 {
    margin-bottom: -100px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-250 {
    margin-top: 250px;
}

.margin-top-200 {
    margin-top: 200px;
}

/* j'en suis réduit à faire des margin de 1*/
.margin-bottom-1 {
    margin-bottom: 1px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-150 {
    margin-bottom: 150px;
}

.margin-bottom-200 {
    margin-bottom: 200px;
}

.margin-bottom-250 {
    margin-bottom: 250px;
}

.margin-bottom-300 {
    margin-bottom: 300px;
}

/*honte sur moi désolé pour ces 2 margins*/

.margin-right-50 {
    margin-right: 50px;
}

.margin-left-50 {
    margin-left: 50px;
}

.margin-left-80 {
    margin-left: 80px;
}

.margin-left-100 {
    margin-left: 100px;
}

.margin-left-150 {
    margin-left: 150px;
}

.gap-3 {
    gap: 3px;
}

.gap-5 {
    gap: 5px;
}

.gap-20 {
    gap: 20px;
}

.gap-40 {
    gap: 40px;
}

.gap-70 {
    gap: 70px;
}


/*-------------------------------------------------------------------------------------------*/

/* mes classe bouton*/




.btn-tri {

    color: white;
    background-color: #9C30F0;
    padding: 10px;
    border-radius: 30px;
    text-align: center;


}

.capsule {


    background-color: #9C30F0;
    padding: 10px;
    border-radius: 30px;



}



/*LA LANDING PAGE*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/* page index*/
/* header*/

header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #260356;

}


/*-------------------------------------------------------------------------------------------*/
/* section 1 :  bannière du site - adem */


.section-hero {
    background-color: #260356;
    color: white;
}

.section-bg {
    background-image: url(assets/bg-patern.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vH;
    color: white;
    position: relative;
    z-index: -5;
    mix-blend-mode: multiply;

}

.section-bg1 {
    background-image: url(assets/bg-Patern3.png);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -5;
    opacity: 0, 5;

}

.section-bg2 {
    background-color: #260356;
    position: relative;
    z-index: -6;

}



h1 {
    font-size: 40px;
    font-weight: 300;
}

h2 {

    font-size: 60px;
    font-weight: 300;
    color: white;


}

h4 {

    font-size: 20px;
    font-weight: 300;
    color: #FFFF;



}

h6 {

    font-size: 20px;
    font-weight: 300;
    color: #FFFF;



}


h3 {

    font-size: 40px;
    font-weight: 300;
    color: #FFFF;


}

/* paragraphe du header */
.pHeader {
    font-weight: 300;
}

.position {

    position: relative;
    bottom: 0px;
    left: 0px;

}


.position2 {

    position: absolute;
    bottom: 110px;
    left: 40px;

}

.position3 {

    position: absolute;
    bottom: 35px;
    left: 680px;
}

.position4 {

    position: absolute;
    bottom: 35px;
    left: 480px;
}





/*-------------------------------------------------------------------------------------------*/
/* Section 2 : theme - vincent */



/* background de ma section présentation*/
.bgViolet {
    background-color: #260356;
}

.section-bg-theme {
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;



}

.section-bg-theme1 {
    background-image: url(assets/bg-Patern3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
    z-index: -2;



}


p {
    color: white;
}

/* texte blanc*/
.txtYellow {
    color: #FFE665;
}

/* style de mes cartes   */
.card {

    background-color: #9C30F0;
    ;
    padding: 20px;
    border-radius: 10px;
    /* l'ombre de mes card */
    box-shadow: 0px 6.475523948669434px 6px 0px rgba(41, 41, 41, 8%);


}

.bgviolet {

    background-color: #9C30F0;
    ;
}

.flex-vrap {

    flex-wrap: nowrap;
}

.gaphi {
    gap: 10px 20px;
}

.ml {
    margin-left: 0;
}

/* texte blanc*/
.txtBlanc {
    color: white;
}



.column {
    flex-direction: column;
}

.transform1 {
    transform: translate(-120px, -120px);
}

.transform1doc {
    transform: translate(-120px, -140px);
}

.transform1DOC {
    transform: translate(-120px, -120px);
    z-index: 0;

}

.transform1bisDoc {
    transform: translate(90px, -480px);
}

.transform1bis {
    transform: translate(20px, -170px);
}

.transform2bis {
    transform: translate(0px, -45px);
}

.transform2bisDoc {
    transform: translate(0px, 20px);
}


.transform3 {
    transform: translate(20px, -120px);
}

.transform3doc {
    transform: translate(100px, -0px);
}

.transform3bis {
    transform: translate(-5px, -150px);
    position: relative;
    z-index: 2;
    left: 20px;
    top: -165px;
}

.transformSpe {
    transform: translate(20px, 100px);
}

.backspecial3 {

    background-color: #9d30f02a;
    border: solid, #9C30F0;
    border-radius: 20px;
    height: 350px;


}

.backspecial31 {

    background-color: #9d30f02a;
    border: solid, #9C30F0;
    border-radius: 20px;
    height: 500px;



}

.backspecial32 {

    background-color: #9d30f02a;
    border: solid, #9C30F0;
    border-radius: 20px;


}



.sizeSpe {

    width: 70%;
    height: 50%;

}




/*-------------------------------------------------------------------------------------------*/
/* Section 3 : fonctionnement*/

.ma-video {
    width: 60%;
    max-width: 900px;
    display: block;
    margin: 0 auto;
}



.transform-section3-1 {
    transform: translate(60px, 160px);
    z-index: 1;

}

.transform-section3-12 {
    transform: translate(60px, 120px);
    z-index: 1;

}

.transform1-section3-1bis {
    transform: translate(-80px, 0px);



}

.transform-section4-1 {
    transform: translate(-80px, 160px);



}

.transform1-section4-1bis {
    transform: translate(85px, -10px);


}

.transform-section5-1 {
    transform: translate(-60px, -90px);



}

.transform-section5-12 {
    transform: translate(85px, 0px);



}

.transform-section5-1bis {
    transform: translate(-150px, 100px);



}

.transform-section6-1 {
    transform: translate(250px, -70px);



}


/*-------------------------------------------------------------------------------------------*/
/* Section 4 : avis utilisateur */

/* paragraphes de la section 4 */
.paragrapheSection4 {
    font-weight: 200;
    font-size: 16px;
    line-height: 2;
}

/* trait */
.trait {
    height: 1px;
    background-color: rgb(255, 0, 0);

    background: linear-gradient(to right, #D9D9D9 0%, rgba(255, 255, 255, 0) 100%);
}

/* */
.imgAvis {
    width: 50px;
    height: 50px;
    border-radius: 300px;
}

.pVerified {
    font-size: 13px;
    font-weight: 400;
}

.pEntreprise {
    font-size: 10px;
    font-weight: 400;
}

.pNom {
    font-size: 17px;
}

.cardAvis {
    background-color: #260356;
    padding: 30px 30px;
    border-radius: 20px;
    border: 1px solid #6F468D;
}

.glass {
    background: rgba(255, 255, 255, 0.15);
    /* transparence */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Safari */

    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.25);

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    padding: 24px;

    color: white;
}

.masterCard {

    background-color: #9d30f02a;
    border: solid, #9C30F0;
    border-radius: 20px;


}

.masterCard2 {

    background-color: #9d30f02a;
    border: solid, #9C30F0;
    border-radius: 20px;
    height: 400px;


}



/*-------------------------------------------------------------------------------------------*/
/* header*/

.imageheader {
    width: 140%;
}

.btn-primary {

    color: white;
    background-color: #260356;

    border-radius: 15px;

}

.btn-secondary {

    color: white;
    background-color: #623F92;

    border-radius: 15px;

}

.btn4 {
    background-color: #9C30F0;

    border-radius: 15px;
    color: white;

}

.capsule2 {
    background: #9C30F0;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);

    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0) 20%,
            rgba(255, 255, 255, 0) 80%,
            rgba(255, 255, 255, 0.2) 100%);
    padding: 15px 0;

    /* ROTATION DE TOUTE LA MARQUEE */
    transform: rotate(-1deg);
    transform-origin: center;
}

.marquee-container2 {
    width: 100%;
    overflow: hidden;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);

    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0) 20%,
            rgba(255, 255, 255, 0) 80%,
            rgba(255, 255, 255, 0.2) 100%);
    padding: 15px 0;

    /* ROTATION DE TOUTE LA MARQUEE */

    transform-origin: center;
}


.marquee-track {
    display: flex;
    width: max-content;
    animation: scroll 18s linear infinite;
}

.marquee-content {
    display: flex;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0 30px;
    white-space: nowrap;
}

.text {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.icon {
    height: 23px;
    width: auto;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/*-------------------------------------------------------------------------------------------*/
/* footer*/

.footer {
    background-color: #996830;
    color: white;
}

/* counter */
.counter-box {
    text-align: center;
    background: #1e1e1e;
    padding: 30px 50px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.number {
    font-size: 48px;
    font-weight: bold;
    color: #00ff88;
}

.text {
    font-size: 18px;
    margin-top: 10px;
    opacity: 0.8;
}


/* paragraphe dans mon footer */
.pFooter {
    font-size: 13px;
    font-weight: 300;
}

.colorWhite {
    color: white;
}

.bgFooter {
    background: linear-gradient(to bottom,
            #56108D 0%,
            #56108D 34%,
            #260356 100%);
}

.policeEpilogue {
    font-family: "Epilogue", sans-serif;
}

/* padding pour aérer mes input dans mon formulaire de contact */
.paddingFormulaire {
    padding: 10px 150px 10px 10px;

}







/* bouton "Envoyer" footer */
.btn3 {
    background-color: white;
    color: #354733;
    padding: 15px 25px;
    border: none;
    font-family: "Epilogue", sans-serif;
    font-weight: 600;
    transition: transform .3s;
}

/* mes icones phosphore icon (instagram + linkedin)*/
.ph-fill {
    font-size: 25px;
    color: white;
}










/*-------------------------------------------------------------------------------------------*/

/*LA DOCUMENTATION */

.pdf-wrapper {
    width: 100%;
    height: 500px;
    max-width: 900px;
    aspect-ratio: 3 / 4;
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 30px 80px rgba(0, 0, 0, .25);

}

.pdf-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.menu-fixe {
    position: fixed;
    top: 100px;
    left: 20px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(-30px);

    transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-fixe.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    background-color: #9d30f02a;
    border: solid, #9C30F0;
    border-radius: 20px;
    padding: 10px;
    z-index: 1;


}


.menu-fixe h3 {
    margin-bottom: 12px;
    font-size: 16px;
}

.menu-fixe a {
    display: block;
    margin-bottom: 8px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.menu-fixe a:hover {
    color: #007BFF;
}

.menu-fixe a.active {
    color: #007BFF;
    font-weight: 600;
}

/*Ma classe card faite par mous*/
.card {
    background-color: #8A25D8;
    border-radius: 20px;
    padding: 20px;
    max-width: 320px;
    margin: 16px;
}


.imageEquipe {
    height: 350px;
    object-fit: cover;
}

/*taille du cràne a yanis class faite par mous*/
.img-taille {
    width: 180px;
    border-radius: 60%;
}


/*une classe pour la taille de l'image du user flow*/
.W-500 {
    width: 500px;
}


/*une classe pour la taille des images de la low-fi*/

.card-2 {

    border-radius: 12px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.231);
    background: rgba(172, 68, 251, 0.231);
    gap: 10px;
}

.card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.gap-20 {
    gap: 20px;
}

.txtNoir {
    color: black;
}

/*un margin bottom de 20*/

.margin-b {
    margin-bottom: 20px;
}

/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/* page doc/
/* section 1 :  */


/*-------------------------------------------------------------------------------------------*/
/* section 2 :  */

.transform-bloc {
    transform: translate(100px, 0px);
}

/*-------------------------------------------------------------------------------------------*/
/* section 2 :  */


.boderCARD {
    border-radius: 0 0 10px 10px;
    background-color: #9d30f02a;
    border: solid, #9C30F0;
    padding: 20px;
}

.boderCARD2 {
    border-radius: 10px 10px 0 0 ;
   
    border: solid, #9C30F0;
    
}